{% load static %}
<html>

  <head>
    <title>Hello World Django App</title>
  </head>
  <body style= 'display:flex; flex-direction: column; justify-content: center; align-items: center; font-style:italic'>
    <h1>About</h1>
    <p>Welcome to Restaurants R Us!!
      We are a located in San Diego California, and specialize in best restaurants. If you are in town or if you are looking on the web, we have a site to order food. You can make arangements by stopping by and ordering on grubhub, postmates, or uber eats. We are open 10am to 9pm all week long. A little history, we've been in business for the last 10 years so we're a company you can trust for getting more bang for your buck. Need a table, a reservation, night or day? We'll have one for you in no time. So come get stuffed with us.
    </p>
  </body>
  
</html>
