{% load static %}
<html>
  <head>
    <title>Hello World Django App</title>
  </head>
  <h1>Beautiful tourist attraction</h1>
  <h1> Locations </h1>
  <h2>
      Barbados
</h2>
    <img src= "https://www.sandals.com/blog/content/images/2020/04/Barbados-Bathsheba-Beach.jpg"
     style=" text-align: left;width:600px;height:400px;">
    
    <h2>
    Europe
</h2>
    <div class="a"></div>
    <img src= "https://www.planetware.com/wpimages/2019/02/europe-top-places-to-visit-summer-lisbon-portugal.jpg" 
    style="width:600px;height:400px; text-align: left">
    <h2>
      Africa
    </h2>
    <img src = "https://static5.depositphotos.com/1039762/456/v/600/depositphotos_4562928-stock-illustration-african-wildlife-background-nature-background.jpg"
    style="width:600px;height:400px; text-align: left">
  
  <h2>
    <div This is where I put my foot down...get it? Footer, foot down??></div></h2>
</html>
