{% load static %}
<html>
  <head>
    <title>Restaurant Django App</title>
  </head>
  <body style= 'display:flex; flex-direction: column; justify-content: center; align-items: center; background: url("https://static6.depositphotos.com/1105977/639/i/600/depositphotos_6396324-stock-photo-fire-flames-detail.jpg"); color: #0039d6;'></body>
  <h1 style = "background: rgba(255, 255, 255, 0.603);">Best Restaurants To Eat In San Diego</h1>
  <h1 style = "background: rgba(255, 255, 255, 0.603);"> Locations </h1>
  <h2 style = "background: rgba(255, 255, 255, 0.603);">
      HAYES
      BURGERS
</h2>
    <img src= "https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_1200,h_800,f_auto,fl_lossy,q_80,c_fit/uav8q9n2w1vcolnoki8q"
     style=" text-align: left;width:600px;height:400px;">
    
    <h2 style = "background: rgba(255, 255, 255, 0.603);">
    KIKO'S
</h2>
    <div class="a"></div>
    <img src= "https://gastro.us/upload/us/helyek/og-borito/128683.jpg" 
    style="width:600px;height:400px; text-align: left">
    <h2 style = "background: rgba(255, 255, 255, 0.603);">
      FILIPPI'S
    </h2>
    <img src = "https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_1200,h_800,f_auto,fl_lossy,q_80,c_fit/ssyquy4r7ytty1ccfci7"
    style="width:600px;height:400px; text-align: left">
  
  <h2>
    <div This is where I put my foot down...get it? Footer, foot down??></div></h2>
</html>
