{% load static %}
<html>
  <head>
    <title>Restaurant Django App</title>
    <style>
      img {width: 55%; height: 55%;}
    </style>
  </head>
  <body style= 'display:flex; width: 100vw;flex-direction: column; justify-content: center; align-items: center;'></body>
  <h1>Services</h1>
  <ul>
    <li>Restaurants Info</li>
    <li>Happy Hour Dish Discounts</li>
    <li>Popular Restaurants</li>
    <li>Pre-order</li>
  </ul>
  <div class="item3"><img src=https://www.drinkstuff.com/productimg/133548_large.jpg></div>
</html>
